@font-face {
   font-family: 'Fjalla One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Master/Desktop/comeco-20240525T171504Z-001/SIMBAMAP%20COM%20API/fonts/Fjalla One/regular.ttf') format('truetype');
}
